#about {
  background: white;
    color:black;
}
@font-face {
  font-family: 'geometos';
  src: url("/fonts/Geometos.ttf")format("truetype");
}
@font-face {
  font-family: 'porter';
  src: url("/fonts/Porter Bold.ttf")format("truetype");
}
@font-face {
  font-family: 'bebas';
  src: url("/fonts/BebasKai-Regular.otf")format("opentype");
}
body {
  font-family: 'Lato', sans-serif;
}

.cust-pad {
  padding: 2em 1em 2em 1em;
}

.navbar {
  /*padding: 2em 0 1.5em 0;*/
  background-color: #040707;
  text-transform: uppercase;
} .navbar .navbar-header {
  margin-left: 0.5em;
} .navbar img {
  max-width: 200px;
} .navbar a {
  padding-left: 1em;
  letter-spacing: 3px;
  color: #fff;
} .navbar .fa-bars {
  color: #fff;
  font-size: 2em;
  margin-left: -2em;
} .navbar a:hover {
   color: black;
   background-color: black;
 } .navbar img {
    margin-bottom: -2.5em;
 }
.highlight {
  color: #222;
  font-family: 'porter';
}
.key{
    color:#222;
    font-style: italic;
    font-weight: 600;
    font-weight: 600;
}
.mission,
.ourteam {
  padding: 95px 6% 70px 6%;
}
.mission {
  background: #3498db;
  color: #fff;
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
}
.mission h1{
  font-family: 'bebas', sans-serif;
  font-size: 40px;
}
.mission hr {
  margin: 30px 0 35px 0;
  padding: 0;
  border: none;
  border-top: 1px solid #fff;
}
.mission .description {
  margin: 0;
  font-size: 20px;
  line-height: 40px;
  text-align: justify;
}
.ourteam h2 {
  margin: 0 0 25px 0;
  padding: 0;
  text-transform: uppercase;
  font-family: 'bebas';
  letter-spacing: 3px;
  font-size: 30px;
}
.ourteam .description {
  margin: 0;
  font-size: 17px;
  line-height: 25px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
  text-align: justify;
}
.ourteam .photos {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
.ourteam .single-member {
  width: 190px;
  height: 190px;
  display: inline-block;
  position: relative;
}
.ourteam .single-member:hover >div {
  visibility: visible;
}
.ourteam .single-member .photo,
.ourteam .single-member .info {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.ourteam .single-member .info {
  position: absolute;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-family: 'Lato';
  letter-spacing: 1px;
  visibility: hidden;
}
.ourteam .single-member .info div {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
}
a {
  text-decoration: none;
  color:white;
}
a:hover {
  text-decoration: none;
  color: #3498db;
}
.footer {
  background-color: #000;
  color: white;
}
.footer .copyright p{
 letter-spacing: 3px; 
 position: relative;
    margin:0px;
    float: left;
}
.footer a{
 float:right;
 color: white;
 padding: 10px;
}
@media only screen and (max-width: 480px) {
  .mission .orglist li {
    margin: 0 20px 20px 0;
    font-size: 20px;
  }
  .mission .topiclist li {
    font-size: 26px;
  }
  .ourteam .single-member {
    width: 160px;
    height: 160px;
  }
}
