#events {
  background: white;
    color:black;
}
@font-face {
  font-family: 'geometos';
  src: url("/fonts/Geometos.ttf")format("truetype");
}
@font-face {
  font-family: 'porter';
  src: url("/fonts/Porter Bold.ttf")format("truetype");
}
@font-face {
  font-family: 'bebas';
  src: url("/fonts/BebasKai-Regular.otf")format("opentype");
}
body {
  font-family: 'Lato', sans-serif;
}

.cust-pad {
  padding: 2em 1em 2em 1em;
}

.navbar {
  /*padding: 2em 0 1.5em 0;*/
  background-color: #040707;
  text-transform: uppercase;
} .navbar .navbar-header {
  margin-left: 0.5em;
} .navbar img {
  max-width: 200px;
} .navbar a {
  padding-left: 1em;
  letter-spacing: 3px;
  color: #fff;
} .navbar .fa-bars {
  color: #fff;
  font-size: 2em;
  margin-left: -2em;
} .navbar a:hover {
   color: black;
   background-color: black;
 } .navbar img {
    margin-bottom: -2.5em;
 }
.footer {
  background-color: #000;
  color: white;
}
.footer .copyright p{
 letter-spacing: 3px; 
 position: relative;
    margin:0px;
    float: left;
}
.footer a{
 float:right;
 color: white;
 padding: 10px;
}