.navbar {
  padding: 2em 0 2em 0;
  background-color: #000;
} .navbar a {
  padding-left: 20px;
  color: gray;
} .navbar a:hover {
  color: yellow;
}

.jumbotron {
  background-image: url('images/about.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  height: 550px;
} .jumbotron h2 {
  color: #fff;
}

.welcome {
  background-color: #696969;
}