body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 80px;
}

.cust-pad {
  padding: 2em 0 2em 0;
}

.navbar {
  padding: 2em 0 2em 0;
  background-color: #000;
} .navbar a:hover {
  color: yellow;
} .navbar img {
  max-width: 200px;
} .navbar .navbar-right a {
  padding-left: 1em;
}

.jumbotron {
  background-image: url('images/about.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 150px 0 150px 0;
  /*height: 100%;*/
} .jumbotron h2 {
  color: #fff;
}

.welcome {
  background-color: #696969;
  color: white;
}

.feature {
  background-color: gray;
}

.about {
  padding: 4em 0 4em 0;
}

.hackpoly {
  background-image: url('http://www.hackpoly.com/assets/grey_@2X-b0e4978256086c7c2f4fa0cd72a44934.png');
  font-size: 1.5em;
}

.events {
  padding: 4em 0 4em 0;
}

.footer {
  background-color: #000;
  color: white;
}